/* styles.css */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  #fileInput {
    margin-bottom: 10px;
  }
  
  #uploader {
    display: none;
    width: 100%;
  }
  
  #successSection {
    display: none;
    text-align: center;
    margin-top: 20px;
  }
  
  #successSection button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
  }
  
  #directLink:hover {
    text-decoration: underline;
  }
  